
# Frontend (React)

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
npm-debug.log*
yarn-error.log*

# ==============================
# Backend (Spring Boot / Java)

backend/target/
backend/.classpath
backend/.project
backend/.settings/
*.class

# ==============================
# Environment & Secrets

.env

# ==============================
# Logs

*.log

# ==============================
#  Editors
.idea/
.vscode/
